# ===================================================================
# Spring Boot configuration for the "dev" profile.
# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

logging:
  level:
    ROOT: DEBUG
    tech.jhipster: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.incubating: ERROR
    com.humano: DEBUG

spring:
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**,.h2.server.properties
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  docker:
    compose:
      enabled: false
      profiles:
        active: dev
  jackson:
    serialization:
      indent-output: true
  datasource:
    master:
      type: com.zaxxer.hikari.HikariDataSource
      url: jdbc:mysql://${humano.multitenancy.default-db-host}:${humano.multitenancy.default-db-port}/${humano.multitenancy.master-database}?${humano.multitenancy.default-connection-params}
      username: root
      password:
      driver-class-name: ${humano.multitenancy.driver-class-name}
      hikari:
        poolName: HikariMaster
        auto-commit: false
        maximum-pool-size: ${humano.multitenancy.default-max-pool-size}
        minimum-idle: ${humano.multitenancy.default-min-idle}
        connection-timeout: ${humano.multitenancy.connection-timeout}
        idle-timeout: ${humano.multitenancy.idle-timeout}
        max-lifetime: ${humano.multitenancy.max-lifetime}
        data-source-properties:
          cachePrepStmts: ${humano.multitenancy.cachePrepStmts}
          prepStmtCacheSize: ${humano.multitenancy.prepStmtCacheSize}
          prepStmtCacheSqlLimit: ${humano.multitenancy.prepStmtCacheSqlLimit}
    default-tenant:
      type: com.zaxxer.hikari.HikariDataSource
      url: jdbc:mysql://${humano.multitenancy.default-db-host}:${humano.multitenancy.default-db-port}/${humano.multitenancy.tenant-database-prefix}default?${humano.multitenancy.default-connection-params}
      username: root
      password:
      driver-class-name: ${humano.multitenancy.driver-class-name}
      hikari:
        poolName: HikariDefaultTenant
        auto-commit: false
        maximum-pool-size: ${humano.multitenancy.default-max-pool-size}
        minimum-idle: ${humano.multitenancy.default-min-idle}
        connection-timeout: ${humano.multitenancy.connection-timeout}
        idle-timeout: ${humano.multitenancy.idle-timeout}
        max-lifetime: ${humano.multitenancy.max-lifetime}
        data-source-properties:
          cachePrepStmts: ${humano.multitenancy.cachePrepStmts}
          prepStmtCacheSize: ${humano.multitenancy.prepStmtCacheSize}
          prepStmtCacheSqlLimit: ${humano.multitenancy.prepStmtCacheSqlLimit}
  h2:
    console:
      enabled: false
  liquibase:
    # Remove 'faker' if you do not want the sample data to be loaded automatically
    contexts: dev, faker
  mail:
    host: localhost
    port: 25
    username:
    password:
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false

server:
  port: 8080
  # make sure requests the proxy uri instead of the server one
  forward-headers-strategy: native

# ===================================================================
# JHipster specific properties
#
# Full reference is available at: https://www.jhipster.tech/common-application-properties/
# ===================================================================

jhipster:
  # CORS is only enabled by default with the "dev" profile
  cors:
    # Allow Ionic for JHipster by default (* no longer allowed in Spring Boot 2.4+)
    allowed-origins: 'http://localhost:8100,https://localhost:8100,http://localhost:9000,https://localhost:9000,http://localhost:4200,https://localhost:4200'
    # Enable CORS when running in GitHub Codespaces
    allowed-origin-patterns: 'https://*.githubpreview.dev'
    allowed-methods: '*'
    allowed-headers: '*'
    exposed-headers: 'Link,X-Total-Count,X-${jhipster.clientApp.name}-alert,X-${jhipster.clientApp.name}-error,X-${jhipster.clientApp.name}-params'
    allow-credentials: true
    max-age: 1800
  security:
    remember-me:
      # security key (this key should be unique for your application, and kept secret)
      key: 511b1da005d81051b1dfca67c845a05fccc04480f425c22a25a4f7c21d3b53e65486a0daa1b3e4d63fb80879e7350c7f2a49
  mail: # specific JHipster mail property, for standard properties see MailProperties
    base-url: http://127.0.0.1:8080
  logging:
    use-json-format: false # By default, logs are not in Json format
    logstash: # Forward logs to logstash over a socket, used by LoggingConfiguration
      enabled: false
      host: localhost
      port: 5000
      ring-buffer-size: 512
# ===================================================================
# Application specific properties
# ===================================================================

# application:
