<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.billing.subscription-cancelled.title}">Subscription cancelled</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="#{email.billing.subscription-cancelled.greeting(${tenantName})}">Hi,</p>
    <p th:text="#{email.billing.subscription-cancelled.body(${planName}, ${effectiveAt})}">Your subscription to plan has been cancelled.</p>
    <p>
      <span th:text="#{email.billing.text2}">Regards,</span>
      <br />
      <em th:text="#{email.signature}">Humano Team.</em>
    </p>
  </body>
</html>
